.container{
    display: block;
    margin: 0 auto;
}

#contact {
    text-align: center;
    padding: 10px;
    margin-top: 10%;
    border: solid;
    border-width: 5px;
    border-color: rgb(41, 43, 44);
}